.tile {
  text-align: center;
  background: #dc5f25 ;
  color: #000;
  border-radius: 15px;
  line-height: 50px;
  height: 50px;
  width: 200px;
  margin: 10px;
  cursor: pointer;
}

.tile:hover {
  transform: scale(1.1);
}

.tile-container {
  display: grid;
  grid-template-areas: 
    'tile tile tile tile'
    'tile tile tile tile'
    'tile tile tile tile'
    'tile tile tile tile'
    'tile tile tile tile';
}